.bullets{
    width: 100%;
}
.bullets .socials{
    /* position: relative;
    top: 10%; */
    /* padding-top: 5px; */
    position: absolute;
    display: inline-flex;
    left: 270px;
    
   
  } 

.bullets .socials img{
    padding-left: 10px;
    display: inline-flex;
   
  }

  .about{
      padding-left: 100px;
      padding-right: 100px;
  }

  .video{
   align-self: center;
  }

  form {
      padding-bottom: 80px;
  }

  #background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  /* .section-top{
    min-width: 100%; 
    min-height: 100%;
  } */
  .section-top{

    min-width: 100%; 
    min-height: 100%;
    margin-bottom: 650px;

  }
  .section{
    
    position: relative;
    height: 100%;
  }
  .App{
    background-color: rgb(12, 23, 27);
  } 