
.navbar-dark .nav-item{
    padding-left: 10px;
}
.navbar-dark .nav-item .active,
.navbar-dark .nav-item a:focus,
.navbar-dark .nav-item:hover a{

    color: rgb(113, 99, 241);
    cursor: pointer;
}
  .section {
  }
  
  .section-dark {
    background: #333;
    color: white;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }